{% extends 'shopmanager/base.html' %}
{% load static %}

{% block content %}
<div class="container-xxl">
    <div class="row p-2 my-3 g-4">
        <div class="col-12 text-primary">
            {% if current_user.business_name %}
                <h3>Orders for {{ current_user.business_name }}</h3>
            {% else %}
                <h3>All orders</h3>
            {% endif %}
        </div>
        {% for order in page_obj %}
        <div class="col col-12 col-lg-6 col-xl-4">
            <div class="card border border-success">
                <div class="card-header fw-semibold bg-success text-white">{{ order.user_profile.business_name }}</div>
                <div class="card-body">
                  <div class="d-flex flex-wrap justify-content-between align-items-center">
                    <div class="card-text fw-semibold fs-5">Order #{{ order.id }}</div>
                    <div class="card-text fw-semibold">{{ order.total_price }} kr</div>
                  </div>
                  <div class="pb-3">{{ order.created_at|date:"y/m/d H:i:s" }}</div>
                  {% for item in order.orderitem_set.all %}
                        <div class="card-text">{{ item.product.name }} x {{ item.quantity }} - {{ item.total_price }} kr</div>
                  {% endfor %}
                  <div class="d-flex flex-wrap justify-content-between align-items-center">
                    <a href="{{ order.get_admin_url }}" class="btn btn-sm btn-dark mt-3" target="_blank">Edit</a>
                    <a href="{% url 'shopmanager:export-orders-as-pdf' order.user_profile.id %}" class="btn btn-sm btn-primary mt-3" target="_blank">Generate PDF</a>
                </div>
                </div>
              </div>
        </div>
        {% endfor %}
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
            {% endif %}
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
              </li>
              {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
              </li>
                {% endif %}
            </ul>
          </nav>
    </div>


</div>

{% endblock content %}

{% block scripts %}
    <script src="{% static 'shopmanager/js/main.js' %}"></script>
{% endblock scripts %}