#cart{
    width:90px; 
    height:90px; 
    border-radius:50%!important; 
    position:fixed!important;
    right:5%;
    bottom:5%;
    cursor: pointer;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: all .2s ease-in-out; 
}

#cart:hover{
    transform: scale(1.1);
    
}