{% extends 'shop/base.html' %}
{% load static %}
{% load math_filters %}
{% block content %}
{% csrf_token %}
<div class="container-xxl py-4">
    <div class="alert alert-dismissible d-none" role="alert" id="alert">
        <div id="alert_text"></div>
        <button type="button" class="btn-close close_alert_button"></button>
      </div>
    
    <div class="row g-4">
        
        {% for product, price in product_prices.items %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card text-center h-100 grow productCard purple" style="box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.25);" data-product-id="{{ product.id }}">
                <div class="p-2">
                    <img src="{{ product.thumbnail.url }}" alt="" class="card-img-top card-productThumbnail p-2">
                </div>
                
                <div class="card-header fs-5 fw-bold text-dark card-productName">{{ product.name }}</div>
                <div class="card-body">
                    <div class="text-start text-success fw-semibold">
                        <p class="card-text ">
                            Arnr <span class="card-productSku">{{ product.sku }}</span>
                            <br>
                            {% if is_admin %}
                                {% if product.stock < 50  and product.stock > 0 %}
                                <span class="text-warning fw-bold">Stock: {{ product.stock }}</span>
                                {% elif product.stock == 0 %}
                                <span class="text-danger fw-bold">Stock: {{ product.stock }}</span>
                                {% else %}
                                Stock: {{ product.stock }}
                                {% endif %}
                            {% endif %}
                            {% if user_profile and price.price and not is_admin %}
                                Pris: <span class="card-pricePerUnit">{{ price.price|divide:product.quantity_shipped|floatformat:2 }} sek</span>
                            {% endif %}
                        </p>
                    </div>
                    <div class="accordion my-3 " id="productcard-accordion-{{ product.id }}">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="prdouctcard-accordion-description-heading-{{ product.id }}">
                            <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#product-card-accordion-description-{{ product.id }}" aria-expanded="false" aria-controls="product-card-accordion-description-{{ product.id }}">
                              Description
                            </button>
                          </h2>
                          <div id="product-card-accordion-description-{{ product.id }}" class="accordion-collapse collapse" aria-labelledby="prdouctcard-accordion-description-heading-{{ product.id }}">
                            <div class="accordion-body text-start bg-light">{{ product.description }}</div>
                          </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="prdouctcard-accordion-nutrients-heading-{{ product.id }}">
                              <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#product-card-accordion-nutrients-{{ product.id }}" aria-expanded="false" aria-controls="product-card-accordion-nutrients-{{ product.id }}">
                                Nutrient information
                              </button>
                            </h2>
                            <div id="product-card-accordion-nutrients-{{ product.id }}" class="accordion-collapse collapse" aria-labelledby="prdouctcard-accordion-nutrients-heading-{{ product.id }}">
                              <div class="accordion-body text-start bg-light">
                                <table class="table table-striped table-hover">
                                    <thead>
                                      <tr>
                                        <th scope="col" class="w-75">Per 100 grams</th>
                                        <th scope="col" class="w-25 text-align-right text-end">Value</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>Energy</td>
                                        <td class="text-end">{{ product.energy_kj }}KJ</td>
                                      </tr>
                                      <tr>
                                        <td>Energy</td>
                                        <td class="text-end">{{ product.energy_kcal }}kcal</td>
                                      </tr>
                                      <tr class="h-100">
                                        <td style="vertical-align:middle!important">Fats
                                            <ul class="list-unstyled ps-1 pt-1">
                                                <li>Saturated</li>
                                                <li>Monounsaturated</li>
                                                <li>Polyunsaturated</li>
                                            </ul>
                                        </td>
                                        <td class="text-end">
                                            {{ product.fat }}g
                                            <ul class="list-unstyled pt-1">
                                                <li>{{ product.saturated_fat }}g</li>
                                                <li>{{ product.monosaturated_fat }}g</li>
                                                <li>{{ product.polyunsaturated_fat }}g</li>
                                            </ul>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>Carbohydrates:
                                            <ul class="list-unstyled ps-1 pt-1">
                                                <li>Sugars</li>
                                                <li>Starch</li>
                                            </ul>
                                        </td>
                                        <td class="text-end">
                                            {{ product.carbohydrates }}g
                                            <ul class="list-unstyled pt-1">
                                                <li>{{ product.sugar }}g</li>
                                                <li>{{ product.starch }}g</li>
                                            </ul>
                                      </tr>
                                      <tr>
                                        <td>Protein</td>
                                        <td class="text-end">{{ product.protein }}g</td>
                                      </tr>
                                      <tr>
                                        <td>Fiber</td>
                                        <td class="text-end">{{ product.fiber }}g</td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                            </div>
                          </div>


                        <div class="accordion-item accordion-end">
                            <h2 class="accordion-header" id="prdouctcard-accordion-info-heading-{{ product.id }}">
                              <button class="accordion-button collapsed accordion-end-item shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#product-card-accordion-info-{{ product.id }}" aria-expanded="false" aria-controls="product-card-accordion-info-{{ product.id }}">
                                Product information
                              </button>
                            </h2>
                            <div id="product-card-accordion-info-{{ product.id }}" class="accordion-collapse collapse" aria-labelledby="prdouctcard-accordion-info-heading-{{ product.id }}">
                              <div class="accordion-body text-start bg-light">
                                <div class="d-flex flex-column">
                                    <span class="fw-semibold">Origin</span>
                                    <span>{{ product.country_of_origin }}</span>
                                </div>
                                <div class="d-flex flex-column pt-2 border border-top border-light">
                                    <span class="fw-semibold">Temperature</span>
                                    <span>{{ product.temperature_storage }}°C</span>
                                </div>
                                <div class="d-flex flex-column pt-2">
                                    <span class="fw-semibold">Storage information</span>
                                    <span>{{ product.storage_information }}</span>
                                </div>
                            </div>
                            </div>
                          </div>
                    </div>
                    {% if price.price and not is_admin %}
                        
                        <div class="card-text fw-semibold fs-5 text-danger pt-2">Price per unit <span class="card-productPrice">{{ price.price }}</span> sek<br>excl. VAT</div>
                        {% if product.stock > 0 %}
                            <div class="input-group my-3  rounded w-50 mx-auto quantityContainer">
                                <button class="btn btn-sm w-25 btn-outline-success quantityBtn quantityMinus" type="button" >-</button>
                                <input type="number" class="form-control text-center border border-solid border-success product_quantity" placeholder="" aria-label="Quantity" aria-describedby="button-addon1" min="1" value="1">
                                <button class="btn btn-sm w-25 btn-outline-success quantityBtn quantityPlus" type="button">+</button>
                            </div>
                                {% if user_profile %}
                                    <button class="btn btn-success w-100 grow addToCartBtn" data-product-id="{{ product.id }}">Add to Cart</button>
                                {% endif %}
                        {% endif %}
                    {% endif %}
                    {% if not price.price and not is_admin %}
                        <div class="card-text fw-semibold fs-5 text-danger pt-2">Contact us for price!</div>
                    {% endif %}
                    {% if not user_profile %}
                            <button class="btn btn-success w-100 mt-3" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
                            <button class="btn btn-dark w-100 mt-2" data-bs-toggle="modal" data-bs-target="#registerModal">Ask to register</button>
                        </div>
                    {% else %}
                    </div>
                    
                        {% if product.stock > 0 %}
                            <div class="card-footer text-success fw-semibold border-0" style="background-color:rgba(var(33,37,41),var(1))!important">
                                In stock
                            </div>
                            {% else %}
                            <div class="card-footer bg-danger text-white fw-semibold border-0">
                                Out of Stock
                            </div>
                            {% endif %}
                    {% endif %}    
                        
                
                
            </div>
        </div>
        {% endfor %}
    </div>
</div>
  

{% if not user_profile %}
<!-- Login modal -->
    <div class="modal fade " id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border border-2 border-primary">
        
            <div class="modal-body">
                <div class="text-center" id="login_modal_append">
                    <h3 class="text-primary">Login</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="position:absolute!important;right:1.5rem!important;top:1.5rem!important;"></button>
                </div>
                <div class="alert alert-danger alert-dismissible d-none" role="alert" id="wrongLoginInformation">
                    <strong>Wrong credentials!</strong>
                </div>

                <div class="m-2">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="login_username" placeholder="Username" name="">
                </div>
                <div class="m-2">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="login_password" placeholder="Username" name="password">
                </div>
                <div class="m-2 mt-4">
                    <button class="btn btn-primary w-100" id="loginBtn">Login</button>
                </div>

            </div>
        </div>
        </div>
    </div>

<!-- Register modal -->
    <div class="modal fade " id="registerModal" tabindex="-1" aria-labelledby="registerModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border border-2 border-primary">
        
            <div class="modal-body">
                <div class="text-center" id="login_modal_append">
                    <h3 class="text-primary">Register</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="position:absolute!important;right:1.5rem!important;top:1.5rem!important;"></button>
                </div>
                <div class="alert alert-danger alert-dismissible d-none" role="alert" id="invalidRegisterForm">
                    <strong>The fields marked with </strong>
                </div>
                
                <div class="m-2">
                    <label for="business_name" class="form-label">Business name <span class="fw-bold text-danger">*</span></label>
                    <input type="text" class="form-control" name="business_name" id="registrant_business_name">
                </div>
                <div class="m-2">
                    <label for="city" class="form-label">City <span class="fw-bold text-danger">*</span></label>
                    <input type="text" class="form-control" name="city" id="registrant_city">
                </div>
                <div class="m-2">
                    <label for="address" class="form-label">Address <span class="fw-bold text-danger">*</span></label>
                    <input type="text" class="form-control" name="address" id="registrant_address">
                </div>
                <div class="m-2">
                    <label for="contact_person" class="form-label">Contact person <span class="fw-bold text-danger">*</span></label>
                    <input type="text" class="form-control" name="contact_person" id="registrant_contact_person">
                </div>
                <div class="m-2">
                    <label for="email" class="form-label">Email <span class="fw-bold text-danger">*</span></label>
                    <input type="email" class="form-control" name="email" id="registrant_email">
                </div>
                <div class="m-2">
                    <label for="phone_number" class="form-label">Phone number <span class="fw-bold text-danger">*</span></label>
                    <input type="text" class="form-control" name="phone_number" id="registrant_phone_number">
                </div>
                <div class="m-2">
                    <label for="business_type" class="form-label" id="registrant_select_business_typeLabel">Select your business type <span class="fw-bold text-danger">*</span></label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="registrant_business_type" id="registrant_business_type_wholesale" value="Wholesale">
                        <label class="form-check-label" for="registrant_business_type_wholesale">
                          Wholesale
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="registrant_business_type" id="registrant_business_type_restaurant" value="Restaurant">
                        <label class="form-check-label" for="registrant_business_type_restaurant">
                          Restaurant
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="registrant_business_type" id="registrant_business_type_marketstand" value="Market Stand">
                        <label class="form-check-label" for="registrant_business_type_marketstand">
                          Market stand
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="registrant_business_type" id="registrant_business_type_other" value="Other">
                        <label class="form-check-label" for="registrant_business_type_other">
                          Other
                        </label>
                    </div>
                </div>
                <div class="m-2">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="registrant_comment" style="height: 100px"></textarea>
                        <label for="registrant_comment">If you have a note, specify here</label>
                      </div>
                </div>
                <div class="m-2 mt-4">
                    <button class="btn btn-primary w-100" id="registerBtn">Register</button>
                </div>
                    
                    
                

            </div>
        </div>
        </div>
    </div>

{% else %}
<!-- CartItem Template -->
<div id="cart" class="bg-success ">
    <img src="{% static 'shop/assets/icons/cart.svg' %}" alt="Cart Icon" width="42" height="42" role="img" style="filter:invert()">
    <span id="cartQuantity" class="text-white fw-bold">0</span>
    
</div>
<div class="alert alert-warning alert-dismissible d-none" id="cartBanner">Cart is empty<button type="button" class="btn-close close_alert_button"></button></div>

<div class="col-12 col-sm-6 col-lg-4 col-xl-3 cartItem d-none">
    <div class="card grow" style="box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.25);">
        <img src="{{ product.thumbnail.url }}" alt="" class="card-img-top cartItemThumbnail">
        <div class="card-body">
            <h5 class="card-title cartItemName"></h5>
            <div class="card-text text-secondary ">Arnr: <span class="cartItemSku"></span></div>
            <div class="card-text">Pris: <span class="cartItemPrice-Each"></span></div>
            <div class="card-text">Package price: <span class="cartItemPrice"></span> sek</div>
            <div class="input-group my-3  rounded w-75 mx-auto">
                <button class="btn btn-sm w-25 btn-outline-success cartQuantityBtn quantityMinus" type="button" >-</button>
                <input type="number" class="form-control text-center border border-solid border-success cartItemQuantity" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" min="1" value="1">
                <button class="btn btn-sm w-25 btn-outline-success cartQuantityBtn quantityPlus" type="button">+</button>
            </div>
            <div class="card-text text-center fs-5 fw-semibold">Total: <span class="cartItemTotalPrice"></span> sek</div>
        </div>
    </div>  
</div>
<!-- Cart Modal -->
<div class="modal" id="cartModal" tabindex="-1" aria-labelledby="cartModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Your cart</h5>
            
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid p-0">
                <div class="row g-4" id="cardModalBody">
                    <div class="alert alert-danger d-none alert-dismissible" role="alert" id="cartAlert"><div id="cart_alert_text"></div><button type="button" class="btn-close close_alert_button"></button></div>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="row w-100">
                <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-start align-items-center flex-wrap flex-wrap-reverse">
                        <div>Subtotal: <span id="cartSubtotal" class="fw-semibold">123</span><span class="fw-semibold"> sek</span>&nbsp;</div>
                        <div class="fw-normal text-secondary""> (excl. 12% VAT)</div>
                </div>
                
                <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end align-items-center flex-wrap py-2 border-light border-mobile">
                    <div class="fw-semibold fs-5">Total: <span id="cartTotal" class="fw-bold"></span><span class="fw-bold"> sek</span>&nbsp;</div>
                    <div class="fs-5 fw-normal text-secondary">(<span id="cartTotalVat"></span> sek VAT)</div>
                </div>
            </div>
            <div class="row w-100 justify-content-md-end">
                <div class="col-12 col-lg-4 d-flex ">
                    <button type="button" class="btn btn-success btn-lg flex-grow-1" id="place_orderBtn">Purchase</button>
                </div>
            </div>
          </div>
        </div>
      </div>
</div>
{% endif %}




{% endblock content %}

{% block scripts %}
    <script src="{% static 'shop/js/shop_v2.js' %}"></script>
{% endblock scripts %}


