{% load static %}
<div style="background-image:url('{% static 'shop/assets/mushrooms_divider.png' %}'); height:80px; background-size:contain; opacity:0.8; z-index:1000000" class="mt-4"></div>
<footer class="shadow-lg">
    <div class=" bg-dark text-light pt-4 px-4 pb-1">
        <div class="container-xxl p-4">
            <div class="row g-4">
                <div class="col-12 col-md-4 d-flex justify-content-md-start flex-column align-items-md-start align-items-center">
                    <h4 class="text-center text-md-start">Svenska Svampar</h4>
                    <a href="https://www.instagram.com/svenska_svampar/?igshid=OGQ5ZDc2ODk2ZA%3D%3D" target="_blank" class="ps-2 text-light text-center text-md-start"><img src="{% static 'shop/assets/icons/instagram.svg' %}" alt="" width="24" height="24" style="filter:invert()" class="me-2">Add us on instagram</a>
                </div>
                <div class="col-12 col-md-4 d-flex justify-content-md-start flex-column align-items-center">
                    <h4>Contact</h4>
                    <div class="d-flex-align-items-start justify-content-start flex-column">
                        <div class="ps-2 text-center text-md-start">
                            <a href="tel:+46736667167" class="text-reset  text-light ">
                                <img src="{% static 'shop/assets/icons/phone.svg' %}" alt="" width="24" height="24" style="filter:invert()" class="me-2">+46 73 666 71 67</a>
                        </div>
                        <div class="ps-2 pt-2 text-center text-md-start">
                            <a href="mailto:info@svenskasvampar.se" class="text-reset  text-light "><img src="{% static 'shop/assets/icons/mail.svg' %}" alt="" width="24" height="24" style="filter:invert()" class="me-2">
                            info@svenskasvampar.se</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 d-flex justify-content-md-start flex-column align-items-center">
                    <h4>Address</h4>
                    <p class="ps-2 text-light text-center text-md-start">Mitson Bär & Svamp AB<br>
                    Stinavägen 3<br>
                    691 54 KARLSKOGA
                    </p>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <h1>Sverige</h1>
                </div>
            </div>

        </div>
        <div class="w-100 text-center">
            <hr class="bg-light">
            <p class="text-light">© 2023 Mitson Bär & Svamp AB</p>
        </div>
    </div>
</footer>
<!-- Footer -->
<!-- Footer -->

  <!-- Footer -->